<!DOCTYPE html>
<html>
<head>
	<title>DataTable Demo</title>
	
	<!--Datatable  -->
	<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/> -->
	
	<!--Semantic  -->
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css"/>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css"/>
	
	<!--Bootstrap --> 
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"/> -->
	
</head>
<body>
	<!-- <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%"> -->
	<table id="example" class="ui celled table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    
    <!--Semantic --> 
    
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script> 
   
    
    <!--Bootstrap  -->
	<!-- <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script> -->
    

    <script type="text/javascript">
    
		$(document).ready(function() {
		    $('#example').DataTable( {
		        "ajax": {
		        	"url" : "data.txt",	
				    "dataSrc": "custom_data"
		        },
		        "pagingType": "full_numbers",
		        "lengthMenu": [[5, 10, 25, 50, -1], ["Five", "Ten", "Twenty Five", "Fifty", "All"]],
		        "columns": [
		            { "data": "name" },
		            { "data": "position" },
		            { "data": "office" },
		            { "data": "extn" },
		            { "data": "start_date" },
		            { "data": "salary" }
		        ],
		        stateSave: true
		    } );
		} );
    </script>

    
</body>
</html>